{% extends 'base/index.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
 {{message}}
  </div>
  {% endfor %}
{% endif %}
<div class="container col-lg-6">
    <div class="row">

       <form action="{% url 'apps-edit' notes.id %}" method="post">
           {% csrf_token %}
        <div class="form-group">
<!--          <label>Category name</label>-->
<!--          <select name="category" class="form-control">-->
<!--              {% for x in category %}-->
<!--            <option value="{{x.categoryname}}">{{x.categoryname}}</option>-->
<!--              {% endfor %}-->
<!--          </select>-->
        </div>
           <div class="form-group">
          <label>Notes</label>
             <input type="text" value="{{notes.notes}}" class="form-control" name="notes" placeholder="please enter Name">
           </div>
         <div class="form-group">
          <label>Notes</label>
             <textarea type="text" class="form-control" name="description" placeholder="please enter an description">{{notes.description}}  </textarea>
           </div>
          <div class="form-group">
            <button class="btn btn-primary">Submit</button>
          </div>
       </form>
    </div>
</div>
{% endblock content %}