{% extends 'dashboard/index.html' %} 
{% load static %} {% block heading %}
<div class="page-title-wrapper">
   <div class="page-title-heading">
      <div class="page-title-icon">
         <i class="fa fa-list-alt icon-gradient bg-mean-fruit">
         </i>
      </div>
      <div>
         View Form
         <div class="page-title-subheading">You can manage your form here.
         </div>
      </div>
   </div>
   <div class="page-title-actions">
      <button id="btnaddform" type="button" class="btn btn-info">
      <span class="btn-icon-wrapper">
      <i class="fa fa-building fa-fw"></i>
      </span>
      Add Form
      </button>
   </div>
</div>
{% endblock %}
{% block home %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {
   	$("#tbllistsection").hide();
   	$("#btnaddform").click(function () {
   		$("#tbllistsection").toggle();
   	});
   });
</script>
<!--add city start -->
<div class="container-fluid p-3 mb-3 rounded bg-white" id="tbllistsection">
   <div class="row">
      <div class="col-md-12 text-center">
         <h4>Add Form</h4>
         <hr />
      </div>
   </div>
   {% if messages %}
   <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} alert alert-success w-100 alert-dismissible fade show list-unstyled"{% endif %} role="alert">{{ message }}
      <button type="button" class="close pt-2" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </li>
      {% endfor %}
   </ul>
   {% endif %}
   <form method="POST">
      {% csrf_token %}
      <div class="row">
         <div class="col-8 form-group">
            <label class="label" for="city">Subcategory Name</label>
            <select name="sub" class="form-control">
               {% for x in category %}
               <option value="{{x.id}}"> {{x.name}} </option>
               {% endfor %}
            </select>
         </div>
         <div class="col-4 form-group pt-2"></br>
            <input type="submit" class="btn btn-lg btn-primary font-weight-bold" value="Add New Form">
         </div>
      </div>
   </form>
</div>
<!--add city end-->
<!--city list here-->
<div class="container-fluid p-3 mb-3 rounded bg-white">
   <div class="row">
      <div class="col-md-12 text-center">
         <h4>Form Details</h4>
         <hr />
      </div>
      <div class="col-md-12">
         <table class="table table-bordered table-striped text-center " id="dt_id">
            <thead class="alert-light">
               <tr>
                  <th> Sr no </th>
                  <th>Name</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               {% for j in subcategory %}
               <tr>
                  <td> {{j.id}} </td>
                  <td>{{j.subcategoryname.name}} </td>
                  <td>
                     <a class="btn btn-primary font-weight-bold text-white" onclick="modify_{{ j.id }}()" data-toggle="modal" data-target="#myModal">
                     <i class="fa fa-lg fa-pencil"></i>
                     </a> &nbsp;
                     <a class="btn btn-danger text-white font-weight-bold" onclick="delete_{{ j.id }}()" data-toggle="modal" data-target="#myModals">
                     <i class="fa fa-lg fa-trash"></i>
                     </a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
   <!-- Modal -->
   <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal"></button>
               <h4 class="modal-title text-center">Update Category</h4>
            </div>
            <div class="modal-body">
               <form id="modify_form" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                     <label for="name" class="label">  Name</label>
                     <select  name="sub" id="subcat" class="form-control">
                        {% for x in category %}
                        <option value="{{x.id}}"> {{x.name}} </option>
                        {% endfor %}
                     </select>
                  </div>
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">Update</button>
            </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
</div>
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="myModals" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title text-center">Delete Client Details</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure want to delete service - <strong id="del_service"></strong></p>
            <a id="s_delete" class="btn btn-danger">Delete</a>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
</div>
</div>
<script>
   {% for serviced in subcategory %}
       function delete_{{ serviced.id }} (){
           // href="deletes/{{ serviced.id }}"
           $('#s_delete').attr('href',"{% url 'subcategory_delete' serviced.id %}")
       }
   
       function modify_{{ serviced.id }} (){
           console.log("{{ serviced.id }}")
          $("#ids").val("{{ serviced.id }}")
         
           $("#subcat").val("{{ serviced.subcategoryname.name }}")
   $("#modify_form").attr("action", "{% url 'subcategory_update' serviced.id %}")
       
          
           
       }
   {% endfor %}
</script>
<!--data tables cdn-->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<!--data tables cdn-->
<script>
   $(document).ready( function () {
       $('#dt_id').DataTable({
           dom: 'Bfrtip',
           buttons: [
               // 'copyHtml5',
               // 'excelHtml5',
               'csvHtml5',
               'pdfHtml5'
           ]
       });
   });
</script>
{% endblock %}