
<div class="container pd-10" style="padding-left:2%">
    <div class="row">
        <p> {{username}},</p>
    </div>
    <div class="row">
        <p class="text-justify">We have received your  Local Depositor request of <span> {{ deposit_obj.base_amount|floatformat:2 }} {{ deposit_obj.transfered_curr }}</span> from your DivePay account & it is under process.</p>
    </div>
    <div class="row">
        <p class="text-justify">  "Once your pending request approved from the DivePay Team, the funds will be credited to your bank account  ASAP." </p>
    </div>
    <div class="row">
        <p class="text-justify">  tra"Thank you for choosing DivePay.</p>
    </div>
    <div class="row">
        <p class="text-justify">  "Regards."</p>
        <p class="text-justify">  "DivePay Team" </p>
    </div>
</div>
