  

<div class="container pd-10" style="padding-left:2%">
    <div class="row">
        <p>Dear {{username}},</p>
    </div>
    <div class="row">
        <p class="text-justify">Authentication Code &nbsp;:&nbsp;<b style="color:red">{{otp}}</b> </p>
    </div>
    <div class="row">
        <p class="text-justify">Hurry up! It will expire in 2 minutes.</p>
    </div>
    <div class="row">
        <p class="text-justify">If you did not request, make sure to check your Divepay account password as soon as possible and scan your computer for viruses.</p>
    </div>
    <div class="row">
        <p class="text-justify">Thank you for choosing DivePay.</p>
    </div>
    <div class="row">
        <p class="text-justify">Regards. </p>
        <p class="text-justify">DivePay Team </p>
    </div>
</div>
